:root {
    --primary-color: #333;
    --secondary-color: #888;
    --background-color: #f8f8f8;
    --font-family: 'Lato', sans-serif;
    --alt-font-family: 'fantasy', cursive;
}

/* Basic Style */
body {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: var(--font-family);
}
.image__container {
    width: 500px;
    margin: 0 auto;
    text-align: right;
}
.image__container .head__pic {
    width: 100%;
}
.image__container .more__info{
    font-family: var(--alt-font-family);
}

@media (max-width: 768px) {
    .image__container {
        text-align: center;
    }
    .centered__main-page__element {
        display: block;
        max-width: 500px;
        margin: 0 auto;
    }
}

.centered__main-page__element {
    display: block;
    max-width: 500px;
    margin: 0 auto;
}
.task {
    width: 100%;
    display: inline-block;
    flex-grow: 1;
}
.task-row__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul {
    margin: 0;
    padding: 0;
}
li, h3 {
    list-style: none;
}
input, button{
    outline: none;
}
button {
    background: none;
    border: 0;
    color: var(--secondary-color);
    font-size: 15px;
    width: 60px;
    font-family: var(--font-family);
    cursor: pointer;
}
button:hover {
    color: var(--primary-color);
}
/* Heading */
h3 {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid var(--primary-color);
    padding: 2rem 0 1rem;
    margin-left: 0;
    text-transform: uppercase;
}
.task-input {
    margin-left: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: var(--font-family);
    color: var(--secondary-color);
}

.todo__list .task-input {
    display: none;
}

.task-input:focus {
    color: var(--primary-color);
}

/* New Task */

#add__to__list .task-input {
    width: 100%;
}

/* Task list */
li {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
li > * {
    vertical-align: middle;
    margin: 0;
}
.checkbox {
    margin-right: 10px;
}
li > label {
    flex-grow: 1;
    padding-left: 10px;
    font-size: 18px;
    width: 100%;
}

button.delete {
    width: 50px;
}

button.delete img {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}
button.delete img:hover {
    transform: rotateZ(0);
}

/* Completed */
#completed__tasks .task {
    text-decoration: line-through;
    color: var(--secondary-color);
}

li > button {
    margin-left: 0;
    margin-right: 0;
    min-width: 60px;
    text-align: center;
}

.delete .pic {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in-out;
}

.delete .pic:hover {
    transform: rotateZ(0);
}

/* Edit Task */
.editMode .task-input {
    display: inline-block;
    width: 100%;
}

.editMode .task {
    display: none;
}